/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Work+Sans:400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Heebo|Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto");
@import url("./source/font-awesome/css/font-awesome.css");
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #296997;
  background-color: #296997; }

.reveal {
  font-family: "Roboto";
  font-size: 20pt;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 1em 0;
  color: #fff;
  font-family: "Roboto Condensed";
  font-weight: "regular";
  line-height: auto;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #ffaaaa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: white;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #ff5e5e; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ffaaaa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #ffaaaa; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #ffaaaa; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #296997; } }

.reveal h1 {
  font-size: 2em;
  font-weight: bold; }

.reveal h2 {
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1em;
  text-align: center;
  border-bottom: 1px solid white; }
  .reveal h2 code {
    font-size: 0.8em;
    font-family: "Fira Mono";
    font-weight: bold; }

.reveal h3 {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-top: 0.4em;
  margin-bottom: 0; }

body {
  background-size: 5%;
  border: 1px solid black;
  font-size: 50%;
  background-image: url("/images/HorseHead.png");
  background-position-x: 2%;
  background-position-y: 98%;
  background-repeat: no-repeat; }

.reveal p {
  margin: 1px;
  font-size: 1.0em;
  font-weight: normal;
  line-height: 1.1em; }

.reveal code {
  font-family: "Fira Mono"; }

.reveal pre {
  font-family: "Fira Mono";
  color: black;
  background: white;
  font-size: 17pt !important;
  font-weight: 400 !important;
  padding: 5px !important; }

.reveal ul {
  padding-left: 0.3em !important; }

.reveal li {
  padding-top: 0em !important;
  padding-bottom: 0.1em !important; }

.reveal ul ul {
  padding-top: .2em !important; }

.reveal p code, .reveal li code {
  font-weight: normal;
  text-decoration: underline;
  color: yellow; }

.reveal p em, .reveal li em {
  font-weight: normal;
  color: aqua; }

.reveal .slides section img {
  background-color: #296997 !important;
  border: none !important;
  box-shadow: none !important; }

.reveal .slides div.colist td {
  font-size: .8em;
  padding-bottom: 0px;
  line-height: 1.1em;
  text-decoration: none;
  border: none;
  border-bottom: none !important; }
  .reveal .slides div.colist td code {
    color: yellow;
    text-decoration: underline; }
  .reveal .slides div.colist td em {
    color: aqua; }

/*.reveal .slides section.present .colist,.arabic {
  font-family: $codeFont;
  font-size: 0.9em;
  text-align: left;
  padding-left: 2em;
}
*/
.reveal .slides section.present {
  text-align: left;
  vertical-align: top; }
  .reveal .slides section.present div.listingblock div.title {
    font-weight: bold;
    text-align: center;
    font-size: .9em;
    padding-bottom: 0em; }
  .reveal .slides section.present div.listingblock > div.content > pre {
    width: 100%;
    border: 5px solid red;
    font-size: .9em;
    line-height: 1.1em; }
    .reveal .slides section.present div.listingblock > div.content > pre code {
      margin-left: 0px;
      padding-left: 0px; }
  .reveal .slides section.present table.tableblock {
    font-size: 0.7em;
    border: 1px solid #fff;
    padding: 1em;
    margin-bottom: 2em; }
    .reveal .slides section.present table.tableblock thead tr {
      color: #296997;
      background-color: #fff; }
      .reveal .slides section.present table.tableblock thead tr p {
        font-weight: bold; }
    .reveal .slides section.present table.tableblock tbody tr {
      border: 1px solid #fff p;
        border-font-weight: normal; }
