/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Work+Sans:400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Heebo|Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto');
@import url('./source/font-awesome/css/font-awesome.css');
// Include theme-specific fonts

// Override theme settings (see ../template/settings.scss)
//$mainFont: 'Heebo';
$mainFont: 'Roboto';
$inlineCodeColor: yellow;
$inlineEmphasisColor: aqua;
$mainFontSize: 20pt;
$fontWeight: 'regular';
$mainColor: #fff;
// $headingFont: 'Roboto';
$headingFont: 'Roboto Condensed';
$headingColor: #fff;
$headingFontWeight: 'regular';
$headingMargin: 0 0 1em 0;
$headingTextShadow: none;
$headingLineHeight: auto;
$headingTextTransform: none;
$codeFont: 'Fira Mono';
$codeFontSize: 17pt;
$codeFontWeight: 400;
$backgroundColor: #296997;
$linkColor: #ffaaaa;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);

// Theme template ------------------------------
@import "../template/theme" ;
// ---------------------------------------------
.reveal h1 {
   font-size: 2em;
   font-weight: bold;
}

.reveal h2 {
   font-weight: normal;
   font-size: 1.7em;
   line-height: 1em;
   text-align: center;
   border-bottom: 1px solid white;
   code {
    font-size: 0.8em;
    font-family: $codeFont;
    font-weight: bold;
   }
 }

.reveal h3 {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-top: 0.4em;
  margin-bottom: 0;
}

// logo
body {
  background-size: 5%;
  border: 1px solid black;
  font-size: 50%;
  background-image: url("/images/HorseHead.png");
  background-position-x: 2%;
  background-position-y: 98%;
  background-repeat: no-repeat;
}

.reveal p {
  margin: 1px;
  font-size: 1.0em;
  font-weight: normal;
  line-height: 1.1em;
}

.reveal code {
    font-family: $codeFont;
}

.reveal pre {
    font-family: $codeFont;
    color: black;
    background: white;
    font-size: $codeFontSize !important;
    font-weight: $codeFontWeight !important;
    padding: 5px !important;
}

.reveal ul {
  padding-left: 0.3em !important;
}

.reveal li {
  padding-top: 0em !important;
  padding-bottom: 0.1em !important;
}

.reveal ul ul {
  padding-top: .2em !important;
}

.reveal p code, .reveal li code {
  font-weight: normal;
  text-decoration: underline;
  color: yellow;
}

.reveal p em, .reveal li em {
  font-weight: normal;
  color: aqua;
}

.reveal .slides section img {
   background-color: #296997 !important;
   border: none !important;
   box-shadow: none !important;
 }

.reveal .slides div.colist td {
  font-size: .8em;
  padding-bottom: 0px;
  line-height: 1.1em;
  text-decoration: none;
  border: none;
  border-bottom: none !important;
  code {
    color: $inlineCodeColor;
    text-decoration: underline;
  }
  em {
    color: $inlineEmphasisColor;
  }
}
/*.reveal .slides section.present .colist,.arabic {
  font-family: $codeFont;
  font-size: 0.9em;
  text-align: left;
  padding-left: 2em;
}
*/

.reveal .slides section.present {
  text-align: left;
  vertical-align: top;
  div.listingblock {
    div.title {
      font-weight: bold;
      text-align: center;
      font-size: .9em;
      padding-bottom: 0em;
    }
  }

  div.listingblock > div.content > pre {
    width: 100%;
    border: 5px solid red;
    font-size: .9em;
    line-height: 1.1em;
    code {
      margin-left: 0px;
      padding-left: 0px;
    }
  }

  table.tableblock {
    font-size: 0.7em;
    border: 1px solid $mainColor;
    thead {
      tr {
         color: $backgroundColor;
         background-color: $mainColor;
         p {
         font-weight: bold;
        }
      }
    }
    tbody {
      tr {
        border: 1px solid $mainColor
        p {
          font-weight: normal;
        }
      }
    }
    padding: 1em;
    margin-bottom: 2em;
  }
}

